:root {
    --z_index: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 10%;
}

.reader_container {
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    overflow-x: hidden;
    backdrop-filter: blur(7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.table {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
}

.tarot_card {
    width: 300px;
    height: 410px;
    perspective: 1000px; 
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-left: -80px;
}

.tarot_card:first-child {
    margin-left: 0px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transition: transform 0.8s ease; 
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.card_front {
    background-color: #f0e68c; 
    overflow: hidden;
}

.card_front > img {
    width: inherit;
    height: inherit;
}

.card_back {
    background-image: url('../Images/card_face.png');
    background-size: auto; 
    background-position: center;
    transform: rotateY(180deg); 
}

.card_name {
    text-shadow: 4px 4px 4px #000000;
    color: #000000;
}

.card_front:hover {
    transform: translateY(-20px);
}

.flipped {
    transform: rotateY(180deg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 10%;
    padding: 20px;
}

.symbols {
    flex: 1;
    height: 10%;
    width: auto;
    left: 20px;
    top: 20px;
    margin-right: 20px;
}
.symbols > img {
    height: 18%;
    width: auto;
    position: absolute;
    left: 20px;
    top: 20px;
}

.user_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: goldenrod;
    font-size: 18px;
    flex-grow: 1; 
    margin-left:13%;
    margin-top: 40px;
}

.free-reading-text {
    color: goldenrod;
}

.logout {
    font-size: 11px !important;
    padding: 0 20px !important;
}

.card_title, .card_text {
    color: darkgoldenrod;
    font-size: large;
    text-shadow: 2px 2px 1px black;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes counter_rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.rotate_clocwize {
    animation: rotate 4s linear infinite;
}

.rotate_counterclocwize {
    animation: counter_rotate 4s linear infinite;
}